
@font-face {
    font-family: 'axis';
    src: url('../font/axis-webfont.eot');
    src: url('../font/axis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/axis-webfont.woff2') format('woff2'),
         url('../font/axis-webfont.woff') format('woff'),
         url('../font/axis-webfont.ttf') format('truetype'),
         url('../font/axis-webfont.svg#axisbold') format('svg');
    font-weight: normal;
    font-style: normal;
}